@import
    "reset",
    "setup",
    "general",
    "layout";

.colors {
  text-align: center;
  p {
    display: inline-block;
    width: 32%;
    padding: 10% 0;
    font-weight: bold;
    text-align: center;
    color: $white;

    &.primary {
      background: $primary;
    }

    &.primary-alt {
      background: $primary-dark;
    }

    &.secondary {
      background: $secondary;
      color: $text-color;

    }
  }
}